# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/

pip-wheel-metadata/
*.pyo
*.pyc
*.pyd

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Virtualenv
.Python
pip-log.txt
pip-delete-this-directory.txt

# Pyre type checker
.pyre/

# mypy type checker
.mypy_cache/

# Pytest
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Docker
*.db
*.sql
*.sqlite3
docker-compose.override.yml
docker-compose.yml

# VS Code
.vscode/

# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
develop-eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.egg-info/
*.whl

# Node.js
node_modules/

# Logs
*.log

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Celery
celerybeat-schedule
celerybeat.pid

# Jupyter Notebook
.ipynb_checkpoints

# pylint
pylint.log

# Sphinx documentation
docs/_build/
